
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

header {
  background-color: #3c3a39;
}

.container {
  height: 80vh;
  background-color: #1c1a19;

}

h3 {
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  background-color: #3c3a39;
  padding-top: 1rem;
  display: flex;
  color: #fff;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

#First {
  padding-top: 13rem;
  margin-bottom: 1rem;
}

h1.my-name {
  color: #ff6b00;
  font-size: 5.6rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Crete Round', serif;
}

h4 {
  color: #fff5e1;
  margin-top: 1.7rem;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p#white {
  color: #fff5e1;
  margin-left: 2rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: 'Poppins', sans-serif;
}

a i {
  font-size: 2.8rem;
  color: #dbd8d7;
}

ul {
  display: flex;
  width: 88rem;
  justify-content: space-between;
}

.headline-bottom {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
}

img#header {
  position: relative;
  bottom: 22rem;
}
/* work-section-Started */
h1{
 font-size: 4rem;
 font-family: 'Crete Round', serif;
 font-weight:400;
 line-height: 5.2rem;
 width: 32.7rem;
 height: 8.3rem;
 margin-top: 10rem;
 margin-bottom: 1rem;
}
hr{
  width: 32.7rem;
  border: 1px solid #212121;
  margin-bottom: 7rem;
}

div.background{
  background-image: url(images/Img\ Placeholder.png);
 width: 32.7rem;
  height: 23.7rem;
}
h2{
  width: 32.7rem;
  height: 3.6rem;
  font-family: 'Crete Round', serif; 
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  color: #091E42;
  line-height: 4.4rem;
  margin-bottom: 0.5rem;
}
 p.work-section{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #091E42;
  line-height: 2.4rem;
  width: 32.7rem;
height: 14.7rem;
 }
div.container-button div{
  background-color: #ffffff;
height: 4rem;
}
div.container-button div p{
  width: 3.1rem;
height: 2rem;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #091E42;
padding-left: 1rem;
text-align: center;
line-height: 1rem;
font-weight: bolder;
}
.bootstrap{
  width: 9.5rem;
  border: 1px solid #8993A4;
}
.html{
  width: 6.7rem;
  border: 1px solid #8993A4;

}
.ruby{
  width:6.1rem;
  border: 1px solid #8993A4;
}
.css{
  border: 1px solid #8993A4;
    width: 5.5rem;
    font-weight: bolder;
}
div.see-project{
  height: 3.3rem;
  font-family: 'Inter', sans-serif;
  width: 12.4rem;
  background: #FF6B00;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
text-align: center;
padding-top: 1.5rem;
  
}
div.container-button{
  display: flex;
  justify-content: space-around;
}
section.work-section{
  margin: auto;
  width:32.7rem;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  justify-items: center;

}
div.see-project{
  color: #FFFFFF;
  margin-top: 1rem;
  justify-self: start;
}
/* work-section ended */

/* Project-section-started */
section.project{
  margin: auto;
  margin-top: 1rem;
  background-image: url(images/background.png);
  width: 32.7rem;
  height: 38.6rem;
  display: grid;
  grid-auto-rows: minmax(180,auto);
  grid-template-columns: 100%;
  justify-items: center;
}
section.project h2{
  color: #FFFFFF;
  width: 29.5rem;
  height: 8.1rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height:4.4rem;
  padding-top: 7rem;
}
section.project p{
  width: 30.1rem;
height: 9.9rem;
 font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 2.4rem;
color: #FFFFFF;
}
.project-section-button-div div.html{
  box-sizing: border-box;
  width: 6.7rem;
  height: 4rem;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-button-div div.bootstrap{
  background-color: rgba(255, 255, 255, 0.24);
  width: 9.5rem;
  height: 4rem;
  padding: 1rem 1.2rem;
  margin-left: 1.3rem;
  box-sizing: border-box;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-button-div div.ruby{
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.24);
  width: 6.1rem;
  height: 4rem;
  margin-left:1.3rem;
  padding: 1rem 1.2rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-seeProjectButton{
  margin-top: 2rem;
  width: 327px;
height: 48px;
font-family: 'Inter', sans-serif;
color: #FFFFFF;
letter-spacing: 0.03em;
text-align: center;
font-style: normal;
font-weight: 700;
box-sizing: border-box;
padding-top: 1.5rem;
font-size: 1.7rem;
background: #FF6B00;
}
.project-section-button-div{
  display: flex;
  justify-content: space-evenly;
}
div.last{
  height: 8rem;
  width: 32.7rem;

}
/* Section About Me Started */
section.About-Me{
  margin: auto;
  background-color: black;
  width: 33rem;

}
section.About-Me h1#about{
  padding-top: 5rem;
  box-sizing: border-box;
  text-align: center;
  width: 32.7rem;
height: 79px;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 6.2rem;
line-height: 88px;
letter-spacing: 0.37px;
color: #FF6B00;
}
section.About-Me p#about{
padding-left: 2rem;
padding-right: 5rem;
  width: 327px;
  height: 148px;
  margin-top: 7rem;
  box-sizing: border-box;
  color: #F4F5F7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.resume-button{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
margin-left: 2rem;
margin-top: 4rem;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
gap: 10px;
width: 156px;
height: 48px;
background: #FF6B00;
color: #FFFFFF;
}
div.img{
position: relative;
left: 17rem;
bottom: 7rem;
  height: 23rem;
  width: 16rem;
  background-image: url(images/Frame.png);
}
section.About-Me hr{
background-color: white;
position: relative;
bottom: 4rem;
  height: 0.1rem;
  width:28rem;
  border: none;
}
.About-Me h2,.About-Me p{
color: white;
text-align: center;
margin-bottom: 2rem;
color: #FFFFFF;
}
.About-Me p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 43px;
}
.About-Me h2{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
}
div.empty{
  height: 4rem;
}
/* Contact Section Starts */
section.contact{
  text-align: center;
  margin: auto;
  background: #FFFFFF;
  width: 33rem;
}
section.contact p{
  /* margin-top: 3rem; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: center;
}
section.contact input{
  border: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 30rem;
  background: #FBF8F7;
  border-bottom: solid 1px grey;
}
section.contact textarea{
  width: 30rem;
  height: 9rem;
  background: #FBF8F7;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
}

section.contact .button{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 1.7rem;
line-height: 2.4rem;
color: #ffffff;
width: 13.1rem;
box-sizing: border-box;
padding-top: 1.1rem;
height: 4.8rem;
margin:auto;
margin-top: 2rem;
background: #FF6B00;
}
div.hr{
  margin-top: 7rem;
  
}
.contact-icons{
  height: 9rem;
  font-weight: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left:5rem;
  margin-right: 5rem;
}
.contact-icons i{
  color : #505F79;
}

 div.las{
  background-color: black;
  width: 9rem;
margin: auto;
margin-bottom: 3rem;
  height: 0.3rem;
  color: black;
 }
