
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

header {
  background-color: #3c3a39;
}

.container {
  height: 80vh;
  background-color: #1c1a19;

}

h3 {
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  background-color: #3c3a39;
  padding-top: 1rem;
  display: flex;
  color: #fff;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

#First {
  padding-top: 13rem;
  margin-bottom: 1rem;
}

h1.my-name {
  color: #ff6b00;
  font-size: 5.6rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Crete Round', serif;
}

h4 {
  color: #fff5e1;
  margin-top: 1.7rem;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p#white {
  color: #fff5e1;
  margin-left: 2rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: 'Poppins', sans-serif;
}

a i {
  font-size: 2.8rem;
  color: #dbd8d7;
}

ul {
  display: flex;
  width: 88rem;
  justify-content: space-between;
}

.headline-bottom {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
}

img#header {
  position: relative;
  bottom: 17rem;
}
/* work-section-Started */
h1{
 font-size: 4rem;
 font-family: 'Crete Round', serif;
 font-weight:400;
 line-height: 5.2rem;
 width: 32.7rem;
 height: 8.3rem;
 margin-top: 10rem;
 margin-bottom: 1rem;
}
hr{
  width: 32.7rem;
  border: 1px solid #212121;
  margin-bottom: 7rem;
}

div.background{
  background-image: url(images/Img\ Placeholder.png);
 width: 32.7rem;
  height: 23.7rem;
}
h2{
  width: 32.7rem;
  height: 3.6rem;
  font-family: 'Crete Round', serif; 
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  color: #091E42;
  line-height: 4.4rem;
  margin-bottom: 0.5rem;
}
 p.work-section{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #091E42;
  line-height: 2.4rem;
  width: 32.7rem;
height: 14.7rem;
 }
div.container-button div{
  background-color: #ffffff;
height: 4rem;
}
div.container-button div p{
  width: 3.1rem;
height: 2rem;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #091E42;
padding-left: 1rem;
text-align: center;
line-height: 1rem;
font-weight: bolder;
}
.bootstrap{
  width: 9.5rem;
  border: 1px solid #8993A4;
}
.html{
  width: 6.7rem;
  border: 1px solid #8993A4;

}
.ruby{
  width:6.1rem;
  border: 1px solid #8993A4;
}
.css{
  border: 1px solid #8993A4;
    width: 5.5rem;
    font-weight: bolder;
}
div.see-project{
  height: 3.3rem;
  font-family: 'Inter', sans-serif;
  width: 12.4rem;
  background: #FF6B00;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
text-align: center;
padding-top: 1.5rem;
  
}
div.container-button{
  display: flex;
  justify-content: space-around;
}
section.work-section{
  margin: auto;
  width:32.7rem;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  justify-items: center;

}
div.see-project{
  color: #FFFFFF;
  margin-top: 1rem;
  justify-self: start;
}
/* work-section ended */

/* Project-section-started */
section.project{
  margin: auto;
  margin-top: 1rem;
  background-image: url(images/background.png);
  width: 32.7rem;
  height: 38.6rem;
  display: grid;
  grid-auto-rows: minmax(180,auto);
  grid-template-columns: 100%;
  justify-items: center;
}
section.project h2{
  color: #FFFFFF;
  width: 29.5rem;
  height: 8.1rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height:4.4rem;
  padding-top: 7rem;
}
section.project p{
  width: 30.1rem;
height: 9.9rem;
 font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 2.4rem;
color: #FFFFFF;
}
.project-section-button-div div.html{
  box-sizing: border-box;
  width: 6.7rem;
  height: 4rem;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-button-div div.bootstrap{
  background-color: rgba(255, 255, 255, 0.24);
  width: 9.5rem;
  height: 4rem;
  padding: 1rem 1.2rem;
  margin-left: 1.3rem;
  box-sizing: border-box;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-button-div div.ruby{
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.24);
  width: 6.1rem;
  height: 4rem;
  margin-left:1.3rem;
  padding: 1rem 1.2rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 2rem;
color: #FFFFFF;
}
.project-section-seeProjectButton{
  margin-top: 2rem;
  width: 327px;
height: 48px;
font-family: 'Inter', sans-serif;
color: #FFFFFF;
letter-spacing: 0.03em;
text-align: center;
font-style: normal;
font-weight: 700;
box-sizing: border-box;
padding-top: 1.5rem;
font-size: 1.7rem;
background: #FF6B00;
}
.project-section-button-div{
  display: flex;
  justify-content: space-evenly;
}