
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

header {
  background-color: rgb(60, 58, 57);
}

.container {
  height: 100vh;
  background-color: rgb(28, 26, 25);
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  background-color: rgb(60, 58, 57);
  padding-top: 2rem;
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

#First {
  padding-top: 13rem;
  margin-bottom: 2rem;
}

h1 {
  color: rgb(255, 107, 0);
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Crete Round', serif;
}

h4 {
  color: rgb(255, 245, 225);
  margin-top: 1.7rem;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p {
  color: white;
  margin-left: 2rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: 'Poppins', sans-serif;
}

a i {
  font-size: 2.8rem;
  color: white;
}

ul {
  display: flex;
  width: 88rem;
  justify-content: space-between;
}

.headline-bottom {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
}

img {
  position: relative;
  bottom: 17rem;
}
